.TeamAnalytics {
  text-align: left;
}

.TeamAnalytics-header {
  background-color: #222;
  height: 40px;
  color: white;
  margin-bottom: 20px;
}

.TeamAnalytics-title {
  padding-top: 5px;
  font-size: 1.5em;
}

.Box-title {
  font-size: 1.5rem;
  margin: 10px 0px 10px 0px;
}

.TeamAnalytics-intro {
  font-size: large;
}

.boxes {
    display: flex;
    flex-flow: row wrap;
}

.boxCollab {
    border: 2px solid black;
    width: 480px;
    min-height: 200px;
    margin-right: 10px;
    margin-bottom: 10px;
    padding: 5px 0px 5px 5px;
}

.boxChannel {
    border: 2px solid black;
    width: 840px;
    min-height: 200px;
    margin-right: 10px;
    margin-bottom: 10px;
    padding: 5px 0px 5px 5px;
}

.boxImage {
  background-color: #F3F2F0;
  border: 2px solid black;
  width: 840px;
  min-height: 200px;
  margin-right: 10px;
  margin-bottom: 10px;
  padding: 5px 0px 5px 5px;
}

.collaborators {
  display: flex;
  flex-flow: row wrap;
}

.collabDetails {
  text-align: center;
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 10px;
}

.personaImage {
  margin: auto !important;
}
.personaName {
  font-size: small;
}

.collabNumber {
  color: green;
  font-size: 1.5rem;
}

.imageWidth {
  width: 800px;
  margin-left: 20px;
  margin-top: 20px;
}